CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# Wi-Fi Station Configuration
CONFIG_DISPLAY_WIFI_STA_SSID=""
CONFIG_DISPLAY_WIFI_STA_PASSWORD=""
CONFIG_DISPLAY_WIFI_MAXIMUM_RETRY=10
CONFIG_DISPLAY_WIFI_AUTH_WPA2_PSK=y
CONFIG_LV_CONF_SKIP=y
CONFIG_LV_USE_OBSERVER=n
CONFIG_LV_USE_GRID=n
CONFIG_LV_BUILD_EXAMPLES=n
CONFIG_LV_BUILD_DEMOS=n
CONFIG_LV_USE_FONT_COMPRESSED=y
CONFIG_LV_FONT_MONTSERRAT_14=n
CONFIG_LV_FONT_MONTSERRAT_16=y
CONFIG_LV_FONT_MONTSERRAT_36=y
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_14=n
CONFIG_LV_FONT_DEFAULT_MONTSERRAT_16=y
# CONFIG_LV_USE_LODEPNG is not set
CONFIG_LV_USE_SYSMON=n
CONFIG_LV_USE_PERF_MONITOR=n
