CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y

# Wi-Fi Station Configuration
CONFIG_DISPLAY_WIFI_STA_SSID=""
CONFIG_DISPLAY_WIFI_STA_PASSWORD=""
CONFIG_DISPLAY_WIFI_MAXIMUM_RETRY=10
CONFIG_DISPLAY_WIFI_AUTH_WPA2_PSK=y
CONFIG_LV_CONF_SKIP=y
CONFIG_LV_USE_OBSERVER=y
CONFIG_LV_USE_SYSMON=y
CONFIG_LV_USE_PERF_MONITOR=y
